<div class="navbar">
  <%= link_to 'Home', posts_path %>
  <%= link_to 'Return to post', post_path %>
</div>

<h1><%= "Edit page for #{@post.id}" %></h1>

<div class="content">
  <%= render 'form', post: @post %>
</div>
