// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  font-family: sans-serif;
  background-color: grey;
}

h1{
  border-radius: 10px;
  text-align: center;
  margin: 5%;
  border: 3px solid black;
  padding: 20px;
  background-color: #d5d9e0;
}

.content{
  border-radius: 10px;
  // margin-left: 5%;
  // margin-right: 5%;
  margin: 5%;
  border: 3px solid black;
  padding: 20px;
  background-color: #d5d9e0;
}

.comments{
  border-radius: 10px;
  margin: 5%;
  border: 3px solid black;
  padding: 20px;
  background-color: #d5d9e0;
}

button{
  padding: 0.5%;
  a{
    text-decoration: none;
    color: blue;
  }
}

h2{
  a{
    text-decoration: none;
    color: black;
  }
}
